*{
    padding: 0;
    margin: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/lwinmoe.png);
}

nav{
    padding: 0 200px;
    box-shadow: 0 2px 2px gray;
}

nav ul li{
    display: inline-block;
    padding:10px 45px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 8px;
}

nav ul li a:hover{
    text-decoration: underline;
    color:red;
    background-color: white;
}

.intro{
    position: absolute;
    top: 38%;
    left: 8%;
    
}

.title{
    font-size: larger;
    text-transform: uppercase;
    font-weight: 500;
}

h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 90px;
}

h1 span{
    color: red;
}


p{
    width: 50%;
}

.btn{
    background-color: #fd4766;
    width: 10%;
    text-align: center;
    margin-top: 50px;
    padding:20px 20px;
    border-radius: 10px;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn:hover{
    box-shadow: 1px 1px 3px 3px gray,
                1px 1px 3px 3px gray;
    
    cursor: pointer;
}

